.toggle{
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch {
  position: relative;
  width: 4.2rem;
  height: 2rem;
}
.slider {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
  background-color: rgb(255, 252, 252);
  border-radius: 5rem;
  border: 2px solid black;
  transition: 0.4s;
}
.slider::before {
  position: absolute;
  top:-0.07rem;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
  border-radius: 100%;
  
  width: 2rem;
  height: 2rem;
  background-color: rgb(106, 106, 106);
}
.switch input:checked + .slider {
  background-color: rgb(25, 25, 25);
}
.switch input:checked + .slider::before {
  transform: translateX(2rem);
}
