.content{
    width: 87vw;
    height: 244vh;
    grid-area: content;
    background-color: blue;
}
.channel{
    width: 87vw;
    height: 40vh;
    background-color: green;
}
.image{
    width: 87vw;
    height: 23vh;
    background-color: purple;
    background-image: url(../images/backgroundimg.jpeg);
    background-size:    100% 100%;                     
    background-repeat:   no-repeat;
    background-position: top center;
}
.details{
    width: 87vw;
    height: 12vh;
    background-color: red;
    display: flex;
    ;
    align-items: center;
}
.navbar{
    width: 87vw;
    height: 5vh;
    background-color: white;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    display: flex;
    margin-left: 1rem;
}
.png{
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color:blue ;
    background-image: url(../images/logo-channel.jpg);
    background-size:    100% 100%;                     
    background-repeat:   no-repeat;
    background-position: top center;
}
/* .subscribers{
    background-color: blue;
    position: relative;
    left: 7rem;
} */
.videos{
    background-color: white;
}

