.content{
    width: 87vw;
    height: 244vh;
    grid-area: content;
    background-color: blue;
}
.channel{
    width: 87vw;
    height: 40vh;
    background-color: green;
}
.image{
    width: 87vw;
    height: 23vh;
    background-color: purple;
}
.navbar{
    width: 87vw;
    height: 4vh;
    background-color: white;
}
.details{
    width: 87vw;
    height: 12vh;
    background-color: red;
}

.png{
    background-color: white;
}
.videos{
    background-color: white;
}

