@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;300&display=swap');
@import url(./var.css);
@import url(./header.css);
@import url(./left.css);
@import url(./topContainer.css);
@import url(./content.css);
*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.4s;
}
/* body grid areas and template for more details check the html comments */
body{
    font-family:'Roboto', sans-serif;
    height: 200vh;
    width: 100vw;
    display: grid;
    grid-template-columns:  0.29fr 2fr ;
    grid-template-rows:  3.5rem 0.2fr 0.8fr; 
    grid-template-areas: 
    "sidebar header "
    "sidebar topContainer"
    "sidebar content"; 
} 
