@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;300&display=swap');
@import url(./var.css);
@import url(./header.css);
@import url(./left.css);
@import url(./topContainer.css);
@import url(./content.css);
*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.4s;
}
body{
    font-family:'Roboto', sans-serif;
    height: 200vh;
    width: 100vw;
    display: grid;
    grid-template-columns:  0.4fr 2fr ;
    grid-template-rows:  0.1fr 0.5fr 2fr; 
    grid-template-areas: 
    "sidebar header "
    "sidebar topContainer"
    "sidebar content"; 
} 
   
/* 
.page{
   display: grid;
    grid-template-columns:  0.4fr 2fr ;
    grid-template-rows:  0.3fr 1.3fr 6fr; 
    grid-template-areas: 
    "sidebar header "
    "sidebar topContainer"
    "sidebar content"; 
}   */