/* topContainer grid area name background picture */
.topContainer{
    grid-area: topContainer;
    background-color: purple;
    display: flex;
    flex-direction: column;
    background-image: url(../images/backgroundimg.jpeg);
    background-size:    105rem 25rem;                     
    background-repeat:   no-repeat;
    background-position: top center;
}
/* channel menu position and styles  */
.channelMenu{
    position: relative;
    top: 15rem;
    width: 100%;
    height: 45%;
    background-color:gray;
    margin-top: 3.2rem;
}
/* } targeting ul for display */
.channelMenu div ul{
    display: flex;
}
/* targeting the li for position */
.channelMenu div ul li{
    position: relative;
    left:3rem;
    top: 4rem;
    margin-left: 6rem;
}
/* channel-logo styles and size */
.channel-logo{
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    background-color: blue;
    position: relative;
    bottom: 4rem;
    left: 7rem;
}
/*  targeting the h2 and the p for position  */
.channelMenu div h2 , p{
    position: relative;
    left: 15rem;
    top: 2rem;
}
/* subscribe button position and styles*/
.subscribe{
    position: relative;
    left: 75rem;
    bottom: 9rem;
    border:  none;
    background: white;
    color: black;
    padding: 0.4rem 1.5rem;
    text-decoration: none;
    margin-left: 0.6rem;
}
.bell{
    position: relative;
    left: 75rem;
    bottom: 9rem;
    padding: 0.4rem ;
    border: none;
}
.position{
    display: flex;
}